body {
    margin: 0;
    padding: 0;
    border: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background-color: #0E0E0E;
}

@font-face {
    font-family: "Norse Bold";
    src: url("https://cdn.statically.io/gh/TheOdinProject/theodinproject/efdc2888072f409e687d31dc580595dbe4fe0ff4/app/assets/fonts/Norse-Bold.otf");
}

.hidden {
    display: none;
}

.container {
    display: flex;
    width: 70%;
}

.logo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url("/home/jade/repos/sign-up-form/media/halie-west-25xggax4bSA-unsplash.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 70%;
    text-align: center;
}

    .logo h1 {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 15%;
        width: 100%;
        margin-top: 160px;
        padding: 12px 0px;
        font-family: "Norse Bold";
        font-size: 100px;
        color: #FFFFFF;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .logo p, .logo a {
        color: #FFFEFE;
    }

    .logo img {
        height: 100%;
    }

.right-side {
    background-color: #F9FAFB;
    font-family: "Roboto", serif;
}

    .hero {
        padding: 64px 164px 64px 24px;
    }

    form {
        background-color: #FFFFFF;
    }

        form fieldset {
            border: none;
            padding: 24px;
        }

            .field-container {
                display: flex;
            }

                .field {
                    padding-top: 12px;
                    padding-right: 24px;
                    margin-right: 24px;
                }

                    label {
                        display: block;
                        color: #4C545F;
                        font-size: 12px;
                        font-weight: 500;
                        letter-spacing: 1px;
                        margin-bottom: 2px;
                    }

                    input {
                        width: 100%;
                        height: 20px;
                        margin-bottom: 8px;
                    }

                    input:focus {
                        border: 1px solid #E5E7EB;
                    }

                    input:invalid {
                        border: 1px solid red;
                    }

    .bottom {
        padding: 24px;
    }

        .create-account-proxy {
            background-color: #596D48;
            color: white;
            border: 1px solid none;
            border-radius: 8px;
            padding: 16px 30px;
            width: 20%;
            text-align: center;
            font-weight: 700;
            font-size: 16px;
        }

        .bottom a, .bottom a:visited {
            color:#596D48;
            font-weight: 900;
        }